apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-workspaces-service
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-workspaces-service
  template:
    metadata:
      labels:
        app: backend-workspaces-service
    spec:
      containers:
        - name: backendworkspaces
          image: wafi1104/backendworkspace:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          volumeMounts:
            - name: config-volume
              mountPath: /app/config.yaml
              subPath: config.yaml
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "200m"
      volumes:
        - name: config-volume
          configMap:
            name: backend-config
---
apiVersion: v1
kind: Service
metadata:
  name: backend-workspaces-service
  namespace: default
spec:
  type: NodePort
  selector:
    app: backend-workspaces-service
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30800
